@{
    Layout = "_Layout";
}

<h1>Fill in the form to create a story!! WOO HOO</h1>
    <form action='/results'>
      <div class='form-group'>
        <label for='noun'>Noun:</label>
        <input id='noun' name='noun' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='verb'>Verb:</label>
        <input id='verb' name='verb' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='adjective'>Adjective:</label>
        <input id='adjective' name='adjective' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='Pronoun'>Pronoun:</label>
        <input id='Pronoun' name='Pronoun' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='Adverb'>Adverb:</label>
        <input id='Adverb' name='Adverb' class='form-control' type='text'>
      </div>
      <button type='submit' class='btn'>Go!</button>
    </form>
